@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clube de Benefícios</title>
</head>
<body>
    <div> 
        Coming soon
    </div>
</body>
</html>
