@using CLBeneficiosWeb.Models
@model List<Beneficios_Convenios>
@{
    decimal Preco_Mensal = (decimal)ViewBag.Preco_Mensal;
    decimal Preco_Assinatura = (decimal)ViewBag.Preco_Assinatura;
    Layout = null;
}
R$ <span class="preco" id="preco_pacote">@Preco_Mensal.ToString("#,##0.00")</span> / mês
@if (Preco_Assinatura > 0)
{
    <br /><span>+ R$  @Preco_Assinatura.ToString("#,##0.00") apenas na 1º mensalidade (postagem do cartão)</span>
}